apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: mce
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 343938549827.dkr.ecr.us-east-1.amazonaws.com/frontend-repo-mce:latest
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: FRONTEND
              value: "frontend"
